In [37]:
import sqlite3
import matplotlib.pyplot as plt
import pandas as pd

conn = sqlite3.connect("Happiness.sqlite3")
cursor = conn.cursor()
print("დაკავშირებული ბაზასთან Happiness.sqlite3\n")

დაკავშირებული ბაზასთან Happiness.sqlite3

In [38]:
cursor.execute("""
    SELECT * FROM 'world-happiness-report-2021'
    WHERE "Regional indicator" = 'Western Europe'
    ORDER BY "Ladder score" ASC
""")

rows = cursor.fetchall()
print("დასავლეთ ევროპის სია, ბედნიერების მაჩვენებლით (ზრდადობით დალაგებული):\n")

for row in rows:
    print(row)

დასავლეთ ევროპის სია, ბედნიერების მაჩვენებლით (ზრდადობით დალაგებული):

('North Cyprus', 'Western Europe', 5.536, 0.051, 5.636, 5.435, 10.576, 0.82, 73.898, 0.795, 0.012, 0.626, 2.43, 1.377, 0.806, 0.801, 0.503, 0.196, 0.2, 1.653)
('Greece', 'Western Europe', 5.723, 0.046, 5.813, 5.632, 10.279, 0.823, 72.6, 0.582, -0.288, 0.823, 2.43, 1.273, 0.811, 0.76, 0.243, 0.0, 0.074, 2.561)
('Portugal', 'Western Europe', 5.929, 0.055, 6.037, 5.821, 10.421, 0.879, 72.6, 0.892, -0.244, 0.887, 2.43, 1.323, 0.939, 0.76, 0.621, 0.029, 0.033, 2.225)
('Cyprus', 'Western Europe', 6.223, 0.049, 6.319, 6.128, 10.576, 0.802, 73.898, 0.763, -0.015, 0.844, 2.43, 1.377, 0.765, 0.801, 0.464, 0.178, 0.061, 2.578)
('Italy', 'Western Europe', 6.483, 0.045, 6.572, 6.395, 10.623, 0.88, 73.8, 0.693, -0.084, 0.866, 2.43, 1.393, 0.94, 0.798, 0.379, 0.133, 0.047, 2.794)
('Spain', 'Western Europe', 6.491, 0.042, 6.574, 6.408, 10.571, 0.932, 74.7, 0.761, -0.081, 0.745, 2.43, 1.375, 1.057, 0.826, 0.462, 0.135, 0.124, 2.513)
('Malta', 'Western Europe', 6.602, 0.044, 6.688, 6.516, 10.674, 0.931, 72.2, 0.927, 0.133, 0.653, 2.43, 1.411, 1.055, 0.747, 0.664, 0.275, 0.183, 2.268)
('France', 'Western Europe', 6.69, 0.037, 6.762, 6.618, 10.704, 0.942, 74.0, 0.822, -0.147, 0.571, 2.43, 1.421, 1.081, 0.804, 0.536, 0.092, 0.235, 2.521)
('Belgium', 'Western Europe', 6.834, 0.034, 6.901, 6.767, 10.823, 0.906, 72.199, 0.783, -0.153, 0.646, 2.43, 1.463, 0.998, 0.747, 0.489, 0.088, 0.187, 2.862)
('United Kingdom', 'Western Europe', 7.064, 0.038, 7.138, 6.99, 10.707, 0.934, 72.5, 0.859, 0.233, 0.459, 2.43, 1.423, 1.062, 0.757, 0.58, 0.34, 0.306, 2.596)
('Ireland', 'Western Europe', 7.085, 0.04, 7.164, 7.006, 11.342, 0.947, 72.4, 0.879, 0.077, 0.363, 2.43, 1.644, 1.092, 0.753, 0.606, 0.238, 0.367, 2.384)
('Germany', 'Western Europe', 7.155, 0.04, 7.232, 7.077, 10.873, 0.903, 72.5, 0.875, 0.011, 0.46, 2.43, 1.48, 0.993, 0.757, 0.6, 0.195, 0.306, 2.824)
('Austria', 'Western Europe', 7.268, 0.036, 7.337, 7.198, 10.906, 0.934, 73.3, 0.908, 0.042, 0.481, 2.43, 1.492, 1.062, 0.782, 0.64, 0.215, 0.292, 2.784)
('Luxembourg', 'Western Europe', 7.324, 0.037, 7.396, 7.252, 11.647, 0.908, 72.6, 0.907, -0.034, 0.386, 2.43, 1.751, 1.003, 0.76, 0.639, 0.166, 0.353, 2.653)
('Sweden', 'Western Europe', 7.363, 0.036, 7.433, 7.293, 10.867, 0.934, 72.7, 0.945, 0.086, 0.237, 2.43, 1.478, 1.062, 0.763, 0.685, 0.244, 0.448, 2.683)
('Norway', 'Western Europe', 7.392, 0.035, 7.462, 7.323, 11.053, 0.954, 73.3, 0.96, 0.093, 0.27, 2.43, 1.543, 1.108, 0.782, 0.703, 0.249, 0.427, 2.58)
('Netherlands', 'Western Europe', 7.464, 0.027, 7.518, 7.41, 10.932, 0.942, 72.4, 0.913, 0.175, 0.338, 2.43, 1.501, 1.079, 0.753, 0.647, 0.302, 0.384, 2.798)
('Iceland', 'Western Europe', 7.554, 0.059, 7.67, 7.438, 10.878, 0.983, 73.0, 0.955, 0.16, 0.673, 2.43, 1.482, 1.172, 0.772, 0.698, 0.293, 0.17, 2.967)
('Switzerland', 'Western Europe', 7.571, 0.036, 7.643, 7.5, 11.117, 0.942, 74.4, 0.919, 0.025, 0.292, 2.43, 1.566, 1.079, 0.816, 0.653, 0.204, 0.413, 2.839)
('Denmark', 'Western Europe', 7.62, 0.035, 7.687, 7.552, 10.933, 0.954, 72.7, 0.946, 0.03, 0.179, 2.43, 1.502, 1.108, 0.763, 0.686, 0.208, 0.485, 2.868)
('Finland', 'Western Europe', 7.842, 0.032, 7.904, 7.78, 10.775, 0.954, 72.0, 0.949, -0.098, 0.186, 2.43, 1.446, 1.106, 0.741, 0.691, 0.124, 0.481, 3.253)

In [42]:
print("\nახალი ჩანაწერის დამატება:")

country = input("ქვეყნის სახელი: ")
ladder_score = float(input("ბედნიერების ქულა (0-10): "))
regional_indicator = input("რეგიონი: ")

cursor.execute("""
    INSERT INTO world_happiness_report_2021 (Country_name, Ladder_score, Regional_indicator)
    VALUES (?, ?, ?)
""", (country, ladder_score, regional_indicator))

conn.commit()
print("ჩანაწერი დაემატა.\n")

ახალი ჩანაწერის დამატება:

ქვეყნის სახელი:  georgia
ბედნიერების ქულა (0-10):  9
რეგიონი:  კახეთი

OperationalError: no such table: world_happiness_report_2021

In [43]:
print("\nჩანაწერის განახლება:")
try:
    country = input("რომელი ქვეყნის მონაცემები განაახლდეს: ")
    new_score = float(input("ახალი ბედნიერების ქულა (0-10): "))

    cursor.execute("""
        UPDATE world_happiness_report_2021 
        SET Ladder_score = ? 
        WHERE Country_name = ?
    """, (new_score, country))
    conn.commit()
    print("ჩანაწერი განახლდა.\n")
except Exception as e:
    print(f"შეცდომა: {e}\n")

ჩანაწერის განახლება:

რომელი ქვეყნის მონაცემები განაახლდეს:  Portugal
ახალი ბედნიერების ქულა (0-10):  9

შეცდომა: no such table: world_happiness_report_2021

In [46]:
print("\nჩანაწერის წაშლა:")
try:
    country = input("რომელი ქვეყნის ჩანაწერი წაიშალოს: ")

    cursor.execute("""
        DELETE FROM world_happiness_report_2021 
        WHERE Country_name = ?
    """, (country,))
    conn.commit()
    print("ჩანაწერი წაიშალა.\n")
except Exception as e:
    print(f"შეცდომა: {e}\n")

ჩანაწერის წაშლა:

რომელი ქვეყნის ჩანაწერი წაიშალოს:  georgia

შეცდომა: Cannot operate on a closed database.

In [48]:
conn = sqlite3.connect("Happiness.sqlite3")
cursor = conn.cursor()

print("\nჩანაწერის წაშლა:")
try:
    country = input("რომელი ქვეყნის ჩანაწერი წაიშალოს: ")

    cursor.execute("""
        DELETE FROM world_happiness_report_2021 
        WHERE Country_name = ?
    """, (country,))
    conn.commit()
    print("ჩანაწერი წაიშალა.\n")
except Exception as e:
    print(f"შეცდომა: {e}\n")

ჩანაწერის წაშლა:

რომელი ქვეყნის ჩანაწერი წაიშალოს:  Portugal

შეცდომა: no such table: world_happiness_report_2021

In [49]:
# 1. ღერძის დიაგრამა (Pie Chart) - რეგიონების განაწილება
cursor.execute("SELECT Regional_indicator, COUNT(*) FROM world_happiness_report_2021 GROUP BY Regional_indicator")
region_data = cursor.fetchall()
regions = [row[0] for row in region_data]
counts = [row[1] for row in region_data]

plt.figure(figsize=(8, 8))
plt.pie(counts, labels=regions, autopct='%1.1f%%', startangle=90)
plt.title("რეგიონების განაწილება მსოფლიო ბედნიერების ანგარიშში")
plt.axis('equal')  # ტოლი ღერძები, რათა წრე იყოს
plt.show()
# კომენტარი: ეს ღერძის დიაგრამა აჩვენებს, რამდენი ქვეყანაა თითოეულ რეგიონში პროცენტებით.

# 2. ზოლიანი დიაგრამა (Bar Chart) - ზედა 5 ბედნიერი ქვეყანა
cursor.execute("SELECT Country_name, Ladder_score FROM world_happiness_report_2021 ORDER BY Ladder_score DESC LIMIT 5")
top5_data = cursor.fetchall()
countries = [row[0] for row in top5_data]
scores = [row[1] for row in top5_data]

plt.figure(figsize=(10, 5))
plt.bar(countries, scores, color='skyblue')
plt.title("ზედა 5 ბედნიერი ქვეყანა 2021")
plt.xlabel("ქვეყნები")
plt.ylabel("ბედნიერების ქულა")
plt.xticks(rotation=45)
plt.show()
# კომენტარი: ეს ზოლიანი დიაგრამა აჩვენებს ზედა 5 ქვეყანას ბედნიერების ქულით კლებადობით.

# 3. ხაზოვანი დიაგრამა (Line Chart) - ბედნიერების ქულის საშუალო რეგიონების მიხედვით
cursor.execute("SELECT Regional_indicator, AVG(Ladder_score) FROM world_happiness_report_2021 GROUP BY Regional_indicator")
avg_data = cursor.fetchall()
regions_avg = [row[0] for row in avg_data]
avg_scores = [row[1] for row in avg_data]

plt.figure(figsize=(10, 5))
plt.plot(regions_avg, avg_scores, marker='o')
plt.title("ბედნიერების ქულის საშუალო რეგიონების მიხედვით")
plt.xlabel("რეგიონები")
plt.ylabel("საშუალო ბედნიერების ქულა")
plt.xticks(rotation=45)
plt.grid()
plt.show()
# კომენტარი: ეს ხაზოვანი დიაგრამა აჩვენებს თითოეული რეგიონის ბედნიერების ქულის საშუალოს.

OperationalError: no such table: world_happiness_report_2021

In [50]:
# კავშირის დახურვა
conn.close()